@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import "tailwindcss";


body {
  margin: 0;
  font-family: 'IBM Plex Serif', serif;
  background-color: #320a28;
  color: #f3f9d2;
  overflow-x: hidden;
}


@theme {
  --wampum-white: #f0f0f0;
  --wampum-white-border: #CCCCCC;
  --wampum-purple: '#5d2b8b'
  --wampum-purple-border: '#4a2072'
  --wampum-light-purple: '#9c7cbf'
  --wampum-light-purple-border: '#8a60aa'
  --wampum-dark-purple: '#3a1b5a'
  --wampum-dark-purple-border: '#2b1040'

  --theme-light-blue: '#C4D7e0'
  --theme-light-green: '#A7D9B9'
  --theme-deep-blue: '#1e3d59'
  --theme-dark-green: '#87bba2'
  --theme-light-bg: '#e0f2f7'
  --theme-text: '#333333'
  --theme-dark-text: '#1e3d59' 
}



.wampum-grid {
    display: grid;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    grid-template-rows: repeat(var(--grid-rows), auto);
    gap: var(--bead-row-gap) var(--bead-column-gap);
}

/* Individual Bead Styling (Tubular/Cylindrical Look) */
.bead {
    width: 100%;
    height: 100%;
    border-width: 0.5px;
    border-style: solid;
    cursor: pointer;
    transition: background-color 0.1s ease;
    aspect-ratio: 1 / 3.5;
}

.bead-gradient-white {
  background-image: radial-gradient(
        circle at 50% 50%,                 /* Light source directly in the center */
        #FFFFFF 0%,                       /* Pure white brightest point */
        #F8F8F8 15%,                       /* Fades to very light off-white */
        #E0E0E0 50%,                       /* Mid-range light grey, creating curvature */
        #C0C0C0 100%                       /* Darker grey at the outer edges for depth */
    );
}

.bead-gradient-purple {
    background-image: radial-gradient(
        circle at 50% 50%,                 /* Light source directly in the center */
        #A06ECF 0%,                        /* Lighter purple for the central highlight */
        #8A5DBF 15%,                       /* Fades slightly to a medium-light purple */
        #5D2B8B 50%,                       /* Transitions to the base purple */
        #3A165C 100%                       /* Darkest purple at the outer edges for depth */
    );
}


/* @media (min-width: 1024px) and (max-width: 1200px) {
    .wampum-grid {
        min-width: calc(
            (var(--grid-cols) * var(--bead-width)) +
            ((var(--grid-cols) - 1) * var(--bead-column-gap)) +
            (2 * 1rem) +
            (2 * 2px)
        );
        grid-template-columns: repeat(var(--grid-cols), var(--bead-width));
    }
} */

@media (min-width: 200px) and (max-width: 960px) {
    .wampum-grid {
        grid-template-columns: repeat(var(--grid-cols), minmax(var(--bead-width), 1fr));
    }
}